/* CSS RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

img,
svg {
	display: block;
}

ul {
	padding: 0;
	list-style: none;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

/* MAIN CSS */

/* TYPOGRAPHY */
body {
	font-family: "DM Sans";
}

.display-1x {
	font-size: 4.125rem;
	font-weight: 600;
	line-height: 120%;
}

h1,
.h1-like {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 120%;
}
h2,
.h2-like {
	font-size: 1.75rem;
}
h3,
.h3-like {
	font-size: 1.5rem;
	font-weight: 500;
}
h4,
.h4-like {
	font-size: 1.25rem;
	font-weight: 600;
}
h5,
.h5-like {
	font-size: 0.875rem;
	font-weight: 500;
}
.p1-like {
	font-size: 1.125rem;
}
.p2-like {
	font-size: 1rem;
}
.button-font {
	font-size: 1rem;
}

/* MOBILE TYPOGRAPHY */

@media screen and (max-width: 900px) {
	.display-1x {
		font-size: 2.25rem;
	}
	h1,
	.h1-like {
		font-size: 2rem;
		line-height: unset;
	}
	h2,
	.h2-like {
		font-size: 1.375rem;
	}
	h3,
	.h3-like {
		font-size: 1.25rem;
	}
	h4,
	.h4-like {
		font-size: 1.125rem;
	}
	h5,
	.h5-like {
		font-size: 0.75rem;
	}
	.p1-like {
		font-size: 1rem;
	}
	.p2-like {
		font-size: 0.875rem;
	}
	.button-font {
		font-size: 0.875rem;
	}
}

/* COLORS */

:root {
	--col-primary: #002e74;
	--col-accent: #1d6dec;
	--col-grey: #4f4f53;
	--col-black: #000000;
	--col-white: #ffffff;
	--col-bg: #f5f5f5;
	--col-bg2: #e5e5e5;
}

/* COMPONENTS */

.logo {
	fill: var(--col-white);
	height: 1.875rem;
}
.logo > svg {
	height: inherit;
}

/* BUTTONS */

.btn {
	padding: 0.75rem 1.25rem;
	border-radius: 40px;
}

.btn-fill-black {
	color: var(--col-white);
	background-color: var(--col-black);
}
.btn-fill-white {
	color: var(--col-black);
	background-color: var(--col-white);
}

.btn-nofill-grey {
	color: var(--col-grey);
	background-color: transparent;
	border: 1px solid var(--col-grey);
}

.btn-nofill-white {
	color: var(--col-white);
	background-color: transparent;
	border: 1px solid var(--col-white);
	padding: 0.625rem 1.25rem;
	border-radius: 50px;
}

/* CONTAINERS */

body {
	padding: 1.25rem;
}

/* HEADER */
.header-container {
	display: flex;
	flex-direction: column;
	gap: 8.75rem;
	padding-top: 1.25rem;
	padding-bottom: 2.5rem;
	justify-content: center;
	border-radius: 16px;
	background: no-repeat cover url(./images/places-to-visit-in-bulgaria.jpg),
		linear-gradient(180deg, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 1) 100%);
}

/* NAVIGATION */
